<html>
<head>
    <meta charset="utf-8">
    
    <title>Search</title>
</head>
<body>
    <script async src="https://cse.google.com/cse.js?cx=8af89172fda384907"></script>
    <div  class="gcse-search" style="width:40px; margin:0 auto;">
        <div class="gcse-search-form-container">
            <form action="search.php" id="search-form" class="gcse-search-form" method="get">
                <input type="text" name="q" placeholder="Search" class="gcse-search-box" autocomplete="off">
                <input type="submit" value="Search" class="gcse-search-button">
            </form>

    </div>

</body>
</html>